@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Bebas+Neue&family=Fasthand&family=Playpen+Sans&family=Poppins:wght@100&family=Quicksand&family=Rubik+Bubbles&display=swap');
.header{
    /* background: rgb(194, 190, 190) ; */
    padding: 0;
    border-bottom: 1px solid #e72929;
   background-color: #e26060;
}

.header a{
    color:#af1313;

}
.header a:hover{
    color: white; 
    cursor: pointer;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    
    font-family:'Rubik','Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif ;
    font-weight: bold;
    padding: 1rem;
    display: flex;
   flex-direction: column;
   align-items: center;
  
}



.header ul{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
}
.header ul a{
    padding: 1rem;
     display: inline-block; 
} 

.menu_container{
    position: relative;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 2px 0.8px 2px ;
}
.menu_container:hover{
    transform: scale(1.1);
    transition: transform 0.3s  ease-in-out;
}
.menu{
    position: absolute;
    z-index: 1001;
    background-color:  whitesmoke;
    display: none;
}
.menu_container:hover .menu {
    display: block;
    font-weight: 800;
} 

.menu a{
    width:100%;
    min-width: 8rem;
    background:#e72929;
    color: black;
    font-weight: 900;
}
.cart_count{
    background-color:#e72929;
    color:black;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
    font-weight: 800;
}


.cartBag {
    list-style: none;
  }
  
  .cartBag a {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-decoration: none;
  }
  
  .cart_count {
    position: absolute;
    top: 28%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  .cartBag a:hover img {
    transform: scale(1.3);
    transition: transform 0.3s ease;
  }
 

.logoImg {
    transition: transform 1s ease-in-out; /* Smooth transition for transformation */
  }
  
  .logoImg:hover {
    transform: scaleX(-1); /* Flip horizontally on hover */
   
  }
  
    

   

  
  
 